.mainScreen {
  /* border: 2px solid red; */
  height: 100%;
  background-color: black;
}
.logo {
  /* border: 1px solid red; */
  display: flex;
  justify-content: right;
  height: 5%;
  background: transparent;
}
.logo-image {
  background-color: transparent;
  height: 100%;
  color: rgb(241, 84, 84);
}
.image-container {
  margin-top: 80px;
  /* border: 1px solid red; */
  height: 40%;
  width: 100%;
}

.image {
  width: 100%;
}
.text-container {
  /* border: 1px solid red; */
  margin-top: 50px;
  height: 25%;
  background: transparent;
}
.text {
  /* border: 1px solid red; */
  color: rgb(135, 132, 132);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 25px;
  background: transparent;
}
.sectext {
  /* border: 1px solid red; */
  color: white;
  font-size: 28px;
  margin-top: 10px;
  background: transparent;
}

